.q-button {
  height: 36px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 16px;
  cursor: pointer;
  position: relative;
}

.q-button-primary {
  background-color: #4329ff;
  color: #fff;
}

.q-button-primary:hover {
  background-color: #523ee8;
}

.q-button-primary:focus {
  background-color: #3621cc;
}

.q-button-default {
  background-color: #fff;
  border-color: #dadada;
}

.q-button-default:hover {
  background-color: #dfe5e8;
}

.q-button-default:focus {
  background-color: #bfcbd0;
}
