.dialog {
  width: 400px;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-header-title {
  font-size: 20px;
  font-weight: 500;
}

.dialog-header-icon i {
  font-size: 24px;
  cursor: pointer;
}

.dialog-body {
  display: flex;
  gap: 24px;
  align-items: center;
}

.dialog-body-icon i {
  font-size: 30px;
}

.dialog-body-content {
  font-size: 14px;
}

.dialog-footer {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
